@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#achievementsContainer{
    display: grid;
    place-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 80vw;
    height: 100%;
    background-color: black;
}
#achievementsContainer h2{
    color: white;
    font-size: clamp(1vw, 1vw, 16px);
}

.achievements{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10, 1fr);
}

.achievementStyle{
    display: grid;
    grid-row: 1;
    grid-column: span 1;
    place-items: center;
    text-align: center;
    background-color: gold;
    font-size: clamp(1vw, 1vw, 16px);
}

.grayConquest{
    color: rgb(160, 160, 160) !important;
    background-color: rgb(70, 70, 70) !important;
}


.progressBar{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    border-radius: 20px;
    height: 30%;
    width: 100%;
}
.progressDone{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(to left, #0546e0, #1172f9, #4892f9);
    border-radius: 20px;
    color: #FFF;
    height: 100%;
}


#gameContainer{
    display: flex;
    height: 80%;
    width: 80%;
    background-image: url(./assets/img/bakery-bg.jpg);
    background-size: cover;
    margin: 40px;
    margin-top: 10px;
    padding: 10px;
}

#leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
}

#cookie{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    font-size: clamp(1vw, 2vw, 14px);
    text-align: center;
}

#cookiesPerSecond{
    margin-top: 15px;
}

#cookieImg{
    width: 15vw;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.1s;
}
#cookieImg:hover{
    width: 13vw;
}
#cookieImg img{
    width: 100%;
    height: 100%;
}

.clickAnim{
    width: 10vw !important;
}

#rightSide{
    width: 50%;
    padding-left: 20px;
    padding-top: 20px;
}

#rightSide button{
    cursor: pointer;
    margin-bottom: 10px;
    width: 15vw;
    height: 15vh;
    font-size: clamp(1vw, 2vw, 14px);
    text-align: center;
    padding: 10px;
}

#rightSide button:active{
    border: 3px solid black;
}

#rightSide span{
    font-weight: 900;
}

#store{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(10, 1fr);
}

.disabledButton{
    color: rgb(160, 160, 160);
    background-color: rgb(70, 70, 70);
}