@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#gameContainer{
    display: flex;
    height: 80%;
    width: 80%;
    background-image: url(/assets/img/bakery-bg.jpg);
    background-size: cover;
    margin: 40px;
    padding: 10px;
}

#leftSide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
}

#cookie{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
}

#cookiesPerSecond{
    margin-top: 15px;
}

#cookieImg{
    width: 200px;
    height: 200px;
    background-image: url(./assets/img/cookie.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.1s;
}
#cookieImg:hover{
    width: 210px;
    height: 210px;
}

.clickAnim{
    width: 190px !important;
    height: 190px !important;
}

#rightSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 20px;
}

#rightSide button{
    cursor: pointer;
    margin-bottom: 10px;
    width: 10vw;
    height: 10vh;
    font-size: 1vw;
    padding: 10px;
}

#rightSide button:active{
    border: 3px solid black;
}

#rightSide span{
    font-weight: 900;
}